body {
    background-color: #151515;
    color: #fff;
    font-family: 'Roboto', "Helvetica Neue0", sans-serif;
    padding-top: 60px;
    height: 100%;

    & .mainDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
}
body * {
    font-family: 'Roboto', "Helvetica Neue0", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}